[submodule "vendor/boipushy"]
	path = vendor/boipushy
	url = https://github.com/nyorem/boipushy.git
[submodule "vendor/chrono"]
	path = vendor/chrono
	url = https://github.com/a327ex/chrono.git
[submodule "vendor/classic"]
	path = vendor/classic
	url = https://github.com/rxi/classic.git
[submodule "vendor/hump"]
	path = vendor/hump
	url = https://github.com/vrld/hump.git
[submodule "vendor/Moses"]
	path = vendor/Moses
	url = https://github.com/Yonaba/Moses.git
[submodule "vendor/stalker"]
	path = vendor/stalker
	url = https://github.com/a327ex/STALKER-X.git
